
	<div class="row">
		<div class="col-6">
        <form class="mat-form">
          <mat-form-field hintLabel="Max 20 characters">
            <input matInput #name maxlength="20" placeholder="Name" [(ngModel)]="product.name" name="name" id="name" required>
            <mat-hint align="end">{{name.value.length}}/20</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Brand" [(ngModel)]="product.brand" name="brand" id="brand" required>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Description" [(ngModel)]="product.description" name="description" required></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Category" [(ngModel)]="product.category" name="category" required>
              <mat-option *ngFor="let category of categories$ | async" [value]="category.name">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Quantity" [(ngModel)]="product.quantity" name="quantity" id="quantity" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Unit price" [(ngModel)]="product.unitPrice" name="unitPrice" id="unitPrice" required>
          </mat-form-field>

          <div class="form-group">
            <label for="image">Product Image</label>
            <input type="file" name="image" id="image" class="form-control">
          </div>
          <button mat-raised-button color="primary" (click)="saveProduct()">Save!</button>
        </form>
		</div>
    <div class="col-6">
      <div class="card">
        <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>{{product.name}}</mat-card-title>
              <mat-card-subtitle>Category : {{product.category}}</mat-card-subtitle>
            </mat-card-header>
          <img mat-card-image src="{{product.imgUrl1}}" alt="{{product.name}}">
          <mat-card-content>
            <p>Brand : {{product.brand}}</p>
            <p>Description : {{product.description}} </p>
            <p>Price : {{product.unitPrice}}</p>
            <p>Quantity : {{product.quantity}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary">Edit</button>
            <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
	</div>

