<div class="container-fluid">
	<div class="row">
		<div class="col-2">
			<product-filter></product-filter>
		</div>
		<div class="col-10">
			<div class="row">
				<div class="col-8">	
					All products and filtered products as well				
				</div>
				<div class="col-4">
					<strong>Price:  </strong>
					<mat-button-toggle-group #group="matButtonToggleGroup">
					  <mat-button-toggle value="left">
					    <mat-icon>keyboard_arrow_down</mat-icon>
					  </mat-button-toggle>
					  <mat-button-toggle value="center">
					    <mat-icon>keyboard_arrow_up</mat-icon>
					  </mat-button-toggle>
					</mat-button-toggle-group>
				</div>
			</div>
			<hr>
			<div class="row">
			   <div class="col-3" *ngFor="let product of product$ | async">
			   	<mat-card class="example-card text-center" >
			   	  <a [routerLink]="['/products/' + product.id + '/' + product.code]"><img mat-card-image [src]="product.imgUrl1" class="prod-img"></a>
			   	  <mat-card-content>
			   	  	<a [routerLink]="['/products/' + product.id + '/' + product.code]"><h6>{{product.name}}</h6></a>
			   	    <p>
			   	      {{product.brand}}
			   	    </p>
			   	    <strong>&#8377;  {{product.unitPrice}}</strong>
			   	  </mat-card-content>
			   	  <mat-card-actions>
			   	    <button mat-icon-button color="warn">
		   	        <mat-icon>favorite</mat-icon>
		   	      </button>
    	   	    <button mat-icon-button color="primary">
       	        <mat-icon>add_shopping_cart</mat-icon>
       	      </button>
			   	  </mat-card-actions>
			   	</mat-card>
			   </div>
			 </div>

		</div>
	</div>
</div>
