<div class="container">
	<div class="row">
		<div class="col-12">
			<h4>Management Console / Dashboard</h4>
			<mat-tab-group>
			  <mat-tab label="Products"> 
					<manage-product></manage-product>
			  </mat-tab>
			  <mat-tab label="Blogs"> 
			  	<manage-blog></manage-blog>
			  </mat-tab>
			  <mat-tab label="Contacts"> 
			  	<manage-contact></manage-contact>
			  </mat-tab>
			  <mat-tab label="Orders"> 
			  	<manage-orders></manage-orders>
			  </mat-tab>
			  <mat-tab label="Extra"> 
			  	<p>Extra tab to add later....</p>
			  </mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>
