<div class="container">
	<div class="row">
		<div class="col-12">
			<mat-accordion>
			  <mat-expansion-panel>
			    <mat-expansion-panel-header>
			      <mat-panel-title>
			        Order Id / 
			      </mat-panel-title>
			      <mat-panel-description>
			        Order date 
			      </mat-panel-description>
			    </mat-expansion-panel-header>

			    <mat-form-field>
			      <input matInput placeholder="First name">
			    </mat-form-field>

			    <mat-form-field>
			      <input matInput placeholder="Age">
			    </mat-form-field>
			  </mat-expansion-panel>
			  <mat-expansion-panel (opened)="panelOpenState = true"
			                       (closed)="panelOpenState = false">
			    <mat-expansion-panel-header>
			      <mat-panel-title>
			        Self aware panel
			      </mat-panel-title>
			      <mat-panel-description>
			        Currently I am {{panelOpenState ? 'open' : 'closed'}}
			      </mat-panel-description>
			    </mat-expansion-panel-header>
			    <p>Copy paste the order format from other project here.</p>
			  </mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12 text-center">
			<h4>Empty order SVG/ animation/ message</h4>
		</div>
	</div>
</div>
