.star {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  color: #FFFFFF;
}
.full {
  color: #FFDF00;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #FFDF00;
}