.container {
	padding-top: 20px;
	padding-bottom: 80px;
}

.prod-img {
	max-width: 100%;
	height: 400px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
