<div class="container">
	<div class="row">
		<div class="col-6 offset-3">
			<form class="mat-form">
			  <mat-form-field hintLabel="Max 20 characters">
		      <input matInput #name maxlength="20" placeholder="Name" [(ngModel)]="category.name" name="name" id="name" required>
		      <mat-hint align="end">{{name.value.length}}/20</mat-hint>
		    </mat-form-field>

		    <mat-form-field>
		      <textarea matInput placeholder="Description" [(ngModel)]="category.description" name="description" required></textarea>
		    </mat-form-field>
				<div class="form-group">
					<label for="image">Category Image</label>
					<input type="file" name="image" id="image" class="form-control">
				</div>
				<button mat-raised-button color="primary" (click)="saveCategory()">Save!</button>
			</form>
		</div>
	</div>
	{{category | json }}
	<hr>
	<div class="row">
		<div class="col">
			<ul *ngFor="let category of categories$ | async">
				<li>{{ category | json}}
					<button type="button" mat-button color="accent" (click)="updateCategory(category, category.id)">Update!</button>
					<button type="button" mat-icon-button color="warn" (click)="deleteCategory(category.id)"><mat-icon>delete</mat-icon></button>
				</li>
			</ul>
		</div>
	</div>
</div>




